<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <a href='/'>HOME</a>
    <% if user_signed_in? %>
        <p>こんにちは、<%= link_to current_user.email, users_show_path %></p>
    <% else %>
        <a href='/users/sign_in'>サインイン</a>
        <a href='/users/sign_up'>ユーザー登録</a>
    <% end %>
    <%= yield %>
  </body>
</html>
